<!DOCTYPE html>
<!-- Zend Framework 2 :: Template / benchmark -->
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Benchmark</title>
</head>
<body>
<!-- views/template/benchmark/ -->
<h1>Benchmark Test</h1>
</body>
</html>